@font-face {
  font-family: MinimalPixelv2;
  src: url(assets/MinimalPixelv2.woff2);
}

body,
html,
p {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
body {
  background-color: #0d0d0f;
  font-family: sans-serif;
  /* -ms-overflow-style: none;  IE and Edge 
  scrollbar-width: none; Firefox */
}
/* body::-webkit-scrollbar {
  display: none;
} */

canvas {
}

.game {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  /* height: 100vh; */
}
.patchnotes {
  color: white;
  overflow: auto;
  height: 350px;
  /* display: flex;
  flex-direction: column-reverse; */
}
h1 {
  color: #cacadf;
  text-align: center;
}
.note {
}
.titleBar {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  background-color: #33acff;
}

.content {
  padding: 0 10px;
  background-color: #2e2e35;
}
ul {
  list-style-position: inside;
  margin: 0;
  padding-top: 5px;
  margin-left: 5px;
}
li {
  position: relative;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #595967;
  /* border-bottom: 1px solid #33acff; */
}
li:nth-child(odd) {
  background-color: #33333b;
}
li:hover {
  /* background-color: #33333b; */
}

.bugFix::before,
.yt::before {
  /* margin-left: auto; */
  font-size: 0.7rem;

  color: aqua;
  position: absolute;
  left: -52px;
  top: 7px;
}

.bugFix::before {
  content: "#BugFix";
}
.yt::before {
  content: "#YouTube";
}
a {
  color: #33acff;
}
